@using Microsoft.AspNetCore.Identity;
@using Proje.BLL.Models.DTOs;
@using Proje.DATA.Entities;
@using Proje.DATA.Enums;
@model SiparisOlusturDTO
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "SiparisOlustur";
    AppUser user = await UserManager.GetUserAsync(User);
}

<div class="container-xxl py-5 bg-dark  mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">MENÜLER</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            <section class="products">
                @foreach (Menu menu in Model.Menuler)
                {
                    string modalAdi = "modalAdi" + menu.ID.ToString();
                    string modalAdihashtag = "#" + modalAdi;
                    <div class="all-products">
                        <div class="product">
                            <img class="img-fluid" src="data:image/jpeg;base64,@Convert.ToBase64String(menu.Fotograf)">
                            <div class="product-info">
                                <h4 class="product-title">
                                    @menu.Adi Menü
                                </h4>
                                <p class="product-price">@menu.Fiyat</p>
                                @*<button class="btn product-btn btn-primary" onclick="SiparisGonder(@menu.ID)">Sepete Ekle</button>*@
                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@modalAdihashtag>
                                        SEPETE EKLE
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id=@modalAdi tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <img class="img-fluid" src="data:image/jpeg;base64,@Convert.ToBase64String(menu.Fotograf)">
                                                </div>
                                                <div class="modal-body" >
                                                    <form id="modalform">
                                                        <h2>@menu.Adi Menü</h2>
                                                        <hr>
                                                        <table >
                                                            
                                                            <tr>
                                                                <td>Küçük</td>
                                                                <td>@menu.Fiyat TL</td>
                                                                <td><input type="radio" name="boyut" checked="checked" value="@Boyut.Küçük" /></td>
                                                            </tr>
                                                            @{
                                                                decimal fiyat = menu.Fiyat * 1.2M;
                                                            }
                                                            <tr>
                                                                <td>Orta</td>
                                                                <td>@fiyat TL</td>
                                                                <td><input type="radio" name="boyut" value="@Boyut.Orta" /></td>
                                                            </tr>
                                                            @{
                                                                fiyat = menu.Fiyat * 1.4M;
                                                            }
                                                            <tr>
                                                                <td>Büyük</td>
                                                                <td>@fiyat TL</td>
                                                                <td><input type="radio" name="boyut" value="@Boyut.Büyük" /></td>
                                                            </tr>

                                                        </table>
                                                        <h3>Soslar</h3>
                                                        
                                                        <table>
                                                            <tr>
                                                                <th colspan="2">Soslar</th>
                                                            </tr>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Sos)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>@item.Fiyat</td>
                                                                        <td><input type="checkbox" value="@item.ID" onclick="malzemeEkle(@item.ID)" /></td>
                                                                    </tr>
                                                                }
                                                                
                                                            }
                                                            <tr>
                                                                <th colspan="2">Aperatifler</th>
                                                            </tr>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Aperatif)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>@item.Fiyat</td>
                                                                        <td><input type="checkbox" value="@item.ID" onclick="malzemeEkle(@item.ID)" /> </td>
                                                                    </tr>
                                                                }

                                                            }
                                                            <tr>
                                                                <th colspan="2">Tatlılar</th>
                                                            </tr>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Tatlı)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>@item.Fiyat</td>
                                                                        <td><input type="checkbox" value="@item.ID" onclick="malzemeEkle(@item.ID)" /></td>
                                                                    </tr>
                                                                }

                                                            }
                                                            
                                                        </table>
                                                    </form>
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="SiparisGonder(@menu.ID)">Sepete Ekle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="col-3" id="siparisListesi">
            <table class="table table-hover table-warning">
                <tr>
                    <th>Ürünleriniz</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            <input type="hidden" id="ekleme" value="1" />
        </div>
    </div>
</div>
<div>
    <input type="hidden" value="@user.Id" id="userID" />
    <input type="hidden" value="1" id="adet" />
</div>









