@using Proje.BLL.Models.DTOs;
@using Proje.DATA.Entities;
@using Proje.DATA.Enums;
@model SiparisOlusturDTO

@{
	ViewData["Title"] = "SiparisOlustur";
}

<div class="container">
	<div class="row">
		<div class="col">
			<div id="menuler">
				<table class="table table-hover table-primary table-striped">

					<tr>
						<th>Menü Adı</th>
						<th>Fiyat</th>
						<th></th>
					</tr>
					@foreach (Menu menu in Model.Menuler)
					{
						<tr>
							<td>@menu.Adi</td>
							<td>@menu.Fiyat</td>
							<td>
								<input type="radio" name="menuID" value="@menu.ID" />
							</td>
						</tr>
					}
				</table>
			</div>
				<div>
					<select id="boyut">
						@foreach (var item in Enum.GetValues(typeof(Boyut)))
						{
							<option value="@item">@item.ToString()</option>
						}
					</select>
				</div>

				<button type="button" class="btn btn-outline-secondary" onclick="SiparisGonder()">Sipariş Oluştur</button>
		</div>
		<div class="col">
			<div id="siparisListesi" class="">
			</div>
		</div>
		

		
	</div>

</div>








