@using Proje.BLL.Models.DTOs;
@using Proje.DATA.Entities;
@using Proje.DATA.Enums;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SiparisOlusturDTO

<div class="row">
    <table class="table table-hover table-primary table-striped">

        <tr>
            <th>Menü Adı</th>
            <th>Boyut</th>
            <th>Fiyat</th>
            <th></th>
        </tr>
        @foreach (Menu menu in Model.Menuler)
        {
            <tr>
                <td>@menu.Adi</td>
                <td>
                    <select id="boyut">
                        @foreach (var item in Enum.GetValues(typeof(Boyut)))
                        {
                            <option value="@item">@item.ToString()</option>
                        }
                    </select>
                </td>
                <td>@menu.Fiyat</td>
                <td>
                    <input type="radio" name="menuID" value="@menu.ID" />
                </td>
            </tr>
        }
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Kaydet" class="btn btn-primary" />
</div>
